@page
@model Backoffice.RazorPages.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Personalized)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.Personalized)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Illustation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.Illustation.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.ProductType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.ProductType.Code)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductModel.Id">Editar</a> |
    <a asp-page="./Index">Voltar para a lista</a>
</div>
