@page
@using System.Linq;
@model IndexModel
@{
    ViewData["Title"] = "As Minhas Encomendas";
}

@if (!String.IsNullOrEmpty(Model.StatusMessage))
{
    var statusMessageClass = Model.StatusMessage.StartsWith("Erro") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible mt-3 pl-3" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.StatusMessage
    </div>
}

<div class="esh-orders">
    <div class="container">
        <h2>@ViewData["Title"]</h2>
        <div class="text-center">
            <img class="separator" src="~/images/barra-coracao.png" />
        </div>
        <article class="esh-orders-titles row d-none d-sm-flex">
            <section class="esh-orders-title col-2">Nº Encomenda</section>
            <section class="esh-orders-title col-4">Data</section>
            <section class="esh-orders-title col-2">Total</section>
            <section class="esh-orders-title col-2">Estado</section>
            <section class="esh-orders-title col-2"></section>
        </article>
        @if (Model.Orders != null && Model.Orders.Any())
        {
            @foreach (var item in Model.Orders)
            {
                <article class="esh-orders-items row">
                    <section class="esh-orders-item col-12 col-sm-2">
                        <span class="dama-orders-title-mobile d-sm-none">Nº Encomenda: </span>
                        @Html.DisplayFor(modelItem => item.OrderNumber)
                    </section>
                    <section class="esh-orders-item col-12 col-sm-4">
                        <span class="dama-orders-title-mobile d-sm-none">Data: </span>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </section>
                    <section class="esh-orders-item col-12 col-sm-2">
                        <span class="dama-orders-title-mobile d-sm-none">Total: </span>
                        @if (item.Total.HasValue)
                        {
                            <text>
                                @Html.DisplayFor(modelItem => item.Total) €
                            </text>
                        }
                        else
                        {
                            <small>em análise</small>
                        }

                    </section>
                    <section class="esh-orders-item col-12 col-sm-2">
                        <span class="dama-orders-title-mobile d-sm-none">Estado: </span>
                        @Html.DisplayFor(modelItem => item.Status)
                    </section>
                    <section class="esh-orders-item col-12 col-sm-1">
                        <a class="btn btn-menta btn-block d-sm-none" role="button" asp-page="Detail" asp-route-orderId="@item.OrderNumber">Ver Detalhe</a>
                        <a class="esh-orders-link-detail d-none d-sm-block" asp-page="Detail" asp-route-orderId="@item.OrderNumber">Detalhe</a>
                    </section>
                    <section class="esh-orders-item col-12 col-sm-1 mt-2 mb-2 mt-sm-0 mb-sm-0">
                        @if (item.StatusType == ApplicationCore.Entities.OrderAggregate.OrderStateType.PENDING)
                        {
                            <a class="btn btn-primary btn-block d-sm-none btnCancel" role="button" data-order-number="@item.OrderNumber">Cancelar</a>
                            <a class="esh-orders-link-cancel d-none d-sm-block btnCancel" href="#" role="button" data-order-number="@item.OrderNumber">Cancelar</a>
                        }
                    </section>
                </article>
            }
        }
    </div>
</div>
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cancelar Encomenda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem a certeza que deseja cancelar a encomenda?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                <a id="cancelAction" href="#" class="btn btn-secondary">Sim</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.btnCancel').click(function () {
                var orderNumber = $(this).attr('data-order-number');
                $('#cancelAction').attr('href', '@(Url.Page("Index","CancelOrder"))' + '&number=' + orderNumber);
                $('#cancelModal').modal({ show: true });
            });
        });
    </script>
}