@page
@using System.Linq;
@model IndexModel
@{
    ViewData["Title"] = "As Minhas Encomendas";
}

<div class="dnj-orders">

    <h1 class="text-uppercase">@ViewData["Title"]</h1>
    @if (!String.IsNullOrEmpty(Model.StatusMessage))
    {
        var statusMessageClass = Model.StatusMessage.StartsWith("Erro") ? "danger" : "success";
        <div class="alert alert-@statusMessageClass alert-dismissible mt-3 pl-3" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @Model.StatusMessage
        </div>
    }
    <div class="row mt-4 mt-sm-0">
        <div class="col-12 col-sm-9">
            <article class="dnj-orders-titles row d-none d-sm-flex">
                <section class="dnj-orders-title col-1">Nº</section>
                <section class="dnj-orders-title col-3">Data</section>
                <section class="dnj-orders-title col-2">Total</section>
                <section class="dnj-orders-title col-2">Estado</section>
                <section class="dnj-orders-title col-auto"></section>
            </article>
            <hr class="dama-hr-tiny-pink mb-3 col-10 d-none d-sm-block" />
            @if (Model.Orders != null && Model.Orders.Any())
            {
                @foreach (var item in Model.Orders)
                {
                    <article class="dnj-orders-items row mb-4 mb-sm-0">
                        <section class="dnj-orders-item col-12 col-sm-1">
                            <span class="dama-orders-title-mobile d-sm-none">Nº Encomenda: </span>
                            @Html.DisplayFor(modelItem => item.OrderNumber)
                        </section>
                        <section class="dnj-orders-item col-12 col-sm-3">
                            <span class="dama-orders-title-mobile d-sm-none">Data: </span>
                            @Html.DisplayFor(modelItem => item.OrderDate)
                        </section>
                        <section class="dnj-orders-item col-12 col-sm-2">
                            <span class="dama-orders-title-mobile d-sm-none">Total: </span>
                            @if (item.Total.HasValue)
                            {
                                <text>
                                    @Html.DisplayFor(modelItem => item.Total) €
                                </text>
                            }
                            else
                            {
                                <small>em análise</small>
                            }

                        </section>
                        <section class="dnj-orders-item col-12 col-sm-2">
                            <span class="dama-orders-title-mobile d-sm-none">Estado: </span>
                            @Html.DisplayFor(modelItem => item.Status)
                        </section>
                        <section class="dnj-orders-item col-12 col-sm-1 mt-3 mt-sm-0">
                            <a class="btn btn-primary btn-block d-sm-none" role="button" asp-page="Detail" asp-route-orderId="@item.OrderNumber">Ver Detalhe</a>
                            <a class="dnj-orders-link-detail d-none d-sm-block" asp-page="Detail" asp-route-orderId="@item.OrderNumber">Detalhe</a>
                        </section>
                        @if (item.StatusType == ApplicationCore.Entities.OrderAggregate.OrderStateType.PENDING)
                        {
                            <section class="dnj-orders-item col-12 col-sm-auto mt-2 mt-sm-0">
                                <a class="btn btn-menta text-white btn-block d-sm-none btnCancel mt-2 mt-sm-0" role="button" data-order-number="@item.OrderNumber">Cancelar</a>
                                <a class="dnj-orders-link-cancel d-none d-sm-block btnCancel" href="#" role="button" data-order-number="@item.OrderNumber">Cancelar</a>
                            </section>
                        }
                    </article>
                }
            }
        </div>
        <div class="col-12 col-sm-3 pt-4 p-0 p-sm-4">
            <div class="px-2">
                @if (Model.Score.HasValue)
                {
                    <h2 class="text-center text-uppercase">Já tenho</h2>
                    <h4 class="text-uppercase text-center mt-3">@Model.Score PONTOS!</h4>
                }
                else
                {
                    <h2 class="text-center text-uppercase">Sem pontos</h2>
                    <p class="text-center">Faz uma encomenda para ganhares pontos e descontos ❤</p>
                }
            </div>
            <img src="~/images/dama-pontos.jpg" class="img-fluid" />
        </div>
    </div>
</div>
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cancelar Encomenda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem a certeza que deseja cancelar a encomenda?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                <a id="cancelAction" href="#" class="btn btn-secondary">Sim</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.btnCancel').click(function () {
                var orderNumber = $(this).attr('data-order-number');
                $('#cancelAction').attr('href', '@(Url.Page("Index","CancelOrder"))' + '&number=' + orderNumber);
                $('#cancelModal').modal({ show: true });
            });
        });
    </script>
}