@page
@model Backoffice.Pages.Category.DetailsModel

@{
    ViewData["Title"] = "Detalhe";
}

<h2>Detalhes</h2>

<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category.Slug)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Slug)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category.Order)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Order)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category.ParentId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Parent.Name)
        </dd>
    </dl>
    <h4>SEO</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.MetaDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.MetaDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category.Title)
        </dt>
        <dd>
            @(string.IsNullOrEmpty(Model.Category.Title) ? Model.Category.Name : Model.Category.Title)
        </dd>
    </dl>
    <h4>Tipos de Produtos associados</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category.ProductTypes[0].Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category.ProductTypes[0].Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Category.ProductTypes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-page="/ProductType/Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-page="/ProductType/Details" asp-route-id="@item.Id">Detalhe</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Category.Id">Editar</a> |
    <a asp-page="./Index">Voltar para a lista</a>
</div>
