@page
@model Backoffice.RazorPages.Pages.Illustrations.IndexModel

@{
    ViewData["Title"] = "Ilustrações";
}

<h2>Ilustrações</h2>

<p>
    <a asp-page="Create">Nova Ilustração</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IllustrationModel[0].Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IllustrationModel[0].PictureUri)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IllustrationModel[0].Type)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.IllustrationModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureUri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhe</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
