@page
@using DamaWeb.Pages.Category
@model IndexModel
@{
    if (!string.IsNullOrEmpty(HttpContext.Request.Query["p"]))
    {
        ViewBag.NoIndex = true;
    }
}

<h1 class="title">@Model.CategoryModel.CategoryName</h1>

@if (Model.CategoryModel.CatalogModel != null)
{
    <div class="row">

        @foreach (var item in Model.CategoryModel.CatalogModel.CatalogTypes)
        {
            <div class="col-6 col-sm-3">
                @if (string.IsNullOrEmpty(item.PictureUri))
                {
                    <a asp-page="/Category/Type/Index" asp-route-cat="@item.CatNameUri" asp-route-type="@item.TypeNameUri">
                        <div class="card">
                            <div class="card-body">
                                @item.Name
                            </div>
                        </div>
                    </a>
                }
                else
                {
                    <a asp-page="/Category/Type/Index" asp-route-cat="@item.CatNameUri" asp-route-type="@item.TypeNameUri">
                        <img src="@item.PictureUri" class="img-thumbnail" alt="@item.Name" />
                    </a>
                }
            </div>
        }

    </div>

    @if (Model.CategoryModel.CatalogModel.NewCatalogItems.Any())
    {
        <div class="news-heading text-center">
            <h2 class="lily">Novidades</h2>
            <img class="separator" src="~/images/barra-coracao.png" />
        </div>

        <div class="container">

            <div class="esh-catalog-items row">
                @foreach (var catalogItem in Model.CategoryModel.CatalogModel.NewCatalogItems)
                {
                    <div class="esh-catalog-item col-md-2 col-6">
                        @await Html.PartialAsync("_product", catalogItem)
                    </div>
                }
            </div>
        </div>
    }
    @if (Model.CategoryModel.CatalogModel.CatalogItems.Any())
    {
        <div id="todos" class="news-heading text-center">
            <h2 class="lily">Todos os Produtos</h2>
            <img class="separator" src="~/images/barra-coracao.png" />
        </div>
        <div class="container">
            <div class="esh-catalog-items row">
                @foreach (var catalogItem in Model.CategoryModel.CatalogModel.CatalogItems)
                {
                    <div class="esh-catalog-item col-md-2 col-6">
                        @await Html.PartialAsync("_product", catalogItem)
                    </div>
                }
            </div>
        </div>
        <partial name="_pagination" for="CategoryModel.CatalogModel.PaginationInfo" />
    }

    <partial name="_DescriptionSection" for="CategoryModel.DescriptionSection" />
    <partial name="_productAdded" />
}

@section Scripts {
    <script src="~/js/pages/category.js" asp-append-version="true"></script>
}
