@page
@model Backoffice.Pages.Products.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Remover</h2>

<h3>Tem a certeza que quer remover este registo?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Sku)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.Sku)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.CatalogTypeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.CatalogType.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.CatalogIllustrationId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.CatalogIllustration.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.ShowOnShop)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.ShowOnShop)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.IsNew)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.IsNew)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.IsFeatured)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.IsFeatured)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.CanCustomize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.CanCustomize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.PictureUri)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.PictureUri)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Picture)
        </dt>
        <dd>
            <img src="@Model.ProductModel.PictureUri" />
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ProductModel.Id" />
        <input type="submit" value="Remover" class="btn btn-default" /> |
        <a asp-page="./Index">Voltar para a lista</a>
    </form>
</div>
