@page
@model Backoffice.Pages.Products.EditModel

@{
    ViewData["Title"] = "Editar";
}

<h2>Editar</h2>

<h4>Produto</h4>
<hr />
<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="ProductModel.Sku" type="hidden" />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group required">
                <label asp-for="ProductModel.Name" class="control-label"></label>
                <input asp-for="ProductModel.Name" class="form-control" />
                <span asp-validation-for="ProductModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group required">
                <label asp-for="ProductModel.Slug" class="control-label"></label>
                <input asp-for="ProductModel.Slug" class="form-control" />
                <span asp-validation-for="ProductModel.Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductModel.Description" class="control-label"></label>
                <textarea asp-for="ProductModel.Description" class="form-control" rows='5'></textarea>
                <span asp-validation-for="ProductModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductModel.CatalogTypeId" class="control-label"></label>
                <select asp-for="ProductModel.CatalogTypeId" class="form-control" asp-items="ViewBag.ProductTypeId"></select>
                <span asp-validation-for="ProductModel.CatalogTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductModel.CatalogIllustrationId" class="control-label"></label>
                <select asp-for="ProductModel.CatalogIllustrationId" class="form-control" asp-items="ViewBag.IllustrationId"></select>
                <span asp-validation-for="ProductModel.CatalogIllustrationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductModel.Price" class="control-label"></label>
                <input asp-for="ProductModel.Price" class="form-control decimal" />
                <span id="ProductTypePrice"></span>
                <span asp-validation-for="ProductModel.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductModel.Discount" class="control-label"></label>
                <input asp-for="ProductModel.Discount" class="form-control decimal" />
                <span asp-validation-for="ProductModel.Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductModel.Stock" class="control-label"></label>
                <input asp-for="ProductModel.Stock" class="form-control" />
                <span asp-validation-for="ProductModel.Stock" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input asp-for="ProductModel.ShowOnShop" class="form-check-input" />
                <label asp-for="ProductModel.ShowOnShop" class="form-check-label"></label>
                <span asp-validation-for="ProductModel.ShowOnShop" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input asp-for="ProductModel.IsNew" class="form-check-input" />
                <label asp-for="ProductModel.IsNew" class="form-check-label"></label>
                <span asp-validation-for="ProductModel.IsNew" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input asp-for="ProductModel.IsFeatured" class="form-check-input" />
                <label asp-for="ProductModel.IsFeatured" class="form-check-label"></label>
                <span asp-validation-for="ProductModel.IsFeatured" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input asp-for="ProductModel.CanCustomize" class="form-check-input" />
                <label asp-for="ProductModel.CanCustomize" class="form-check-label"></label>
                <span asp-validation-for="ProductModel.CanCustomize" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input asp-for="ProductModel.IsUnavailable" class="form-check-input" />
                <label asp-for="ProductModel.IsUnavailable" class="form-check-label"></label>
                <span asp-validation-for="ProductModel.IsUnavailable" class="text-danger"></span>
            </div>
            <br /><br />
            <div class="form-group">
                <label asp-for="ProductModel.Picture" class="control-label"></label>
                <input type="file" asp-for="ProductModel.Picture" class="form-control" />
                <small>(469*469)</small>
                <span asp-validation-for="ProductModel.Picture" class="text-danger"></span>
                <img src="@Model.ProductModel.PictureUri" class="img-responsive" />
                <input type="hidden" asp-for="ProductModel.PictureUri" />
            </div>
        </div>
        <div class="col-md-offset-2 col-md-6">
            <h4>SEO</h4>
            <div class="form-group">
                <label asp-for="ProductModel.MetaDescription" class="control-label"></label>
                <textarea asp-for="ProductModel.MetaDescription" class="form-control"></textarea>
                <span asp-validation-for="ProductModel.MetaDescription" class="text-danger"></span>
                <small>se vazio assume o nome do produto seguido da meta description do tipo produto:</small>
                <small>@Model.ProductModel.CatalogTypeMeta</small>
            </div>
            <div class="form-group">
                <label asp-for="ProductModel.Title" class="control-label"></label>
                <input asp-for="ProductModel.Title" class="form-control" />
                <span asp-validation-for="ProductModel.Title" class="text-danger"></span>
                <small>(se vazio assume o nome do produto)</small>
            </div>
            <br /><br />
            <h4>Relações</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Label
                        </th>
                        <th>
                            Produto Relacionado
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProductModel.References)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LabelDescription)
                            </td>
                            <td>
                                <a asp-page="/Products/Edit" asp-route-id="@item.ReferenceCatalogItemId">
                                    @Html.DisplayFor(modelItem => item.ReferenceCatalogItem.Name)
                                </a>
                            </td>
                            <td>
                                <a asp-page="./References/Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-page="./References/Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <a asp-page="./References/Create" asp-route-id="@Model.ProductModel.Id" class="btn btn-default">Adicionar Relação</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <br /><br />

            <h4>Atributos do Produto</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductModel.Attributes[0].Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductModel.Attributes[0].Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductModel.Attributes[0].Stock)
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ProductModel?.Attributes?.Count > 0)
                    {
                        for (int i = 0; i < Model.ProductModel.Attributes.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => Model.ProductModel.Attributes[i].Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => Model.ProductModel.Attributes[i].Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => Model.ProductModel.Attributes[i].Stock)
                                </td>
                                <td>
                                    <a asp-page="./Attributes/Edit" asp-route-catalogItemId="@Model.ProductModel.Id" asp-route-id="@Model.ProductModel.Attributes[i].Id">Editar</a> |
                                    <a asp-page="./Attributes/Delete" asp-route-catalogItemId="@Model.ProductModel.Id" asp-route-id="@Model.ProductModel.Attributes[i].Id">Apagar</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <a asp-page="./Attributes/Create" asp-route-id="@Model.ProductModel.Id" class="btn btn-default">Adicionar Atributo</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-offset-2 col-md-6">
            <h4>Categorias</h4>
            <ul id="category-list">
                @for (int i = 0; i < Model.CatalogCategoryModel.Count; i++)
                {
                    <li class="parent-category">
                        <label asp-for="CatalogCategoryModel[i].Selected">
                            <input type="hidden" asp-for="CatalogCategoryModel[i].Id" />
                            <input type="hidden" asp-for="CatalogCategoryModel[i].CategoryId" />
                            <input type="checkbox" asp-for="CatalogCategoryModel[i].Selected" class="parent-checkbox" cat-id="@Model.CatalogCategoryModel[i].CategoryId" />
                            @Model.CatalogCategoryModel[i].Label
                        </label>

                        @if (Model.CatalogCategoryModel[i].Childs.Count > 0)
                        {
                            <ul>
                                @for (int j = 0; j < Model.CatalogCategoryModel[i].Childs.Count; j++)
                                {
                                    <li>
                                        <label asp-for="CatalogCategoryModel[i].Childs[j].Selected">
                                            <input type="hidden" asp-for="CatalogCategoryModel[i].Childs[j].Id" />
                                            <input type="hidden" asp-for="CatalogCategoryModel[i].Childs[j].CategoryId" />
                                            <input type="checkbox" asp-for="CatalogCategoryModel[i].Childs[j].Selected" class="child-checkbox" cat-id="@Model.CatalogCategoryModel[i].Childs[j].CategoryId" />
                                            @Model.CatalogCategoryModel[i].Childs[j].Label
                                        </label>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
            <h4>Imagens do Produto</h4>
            @for (int i = 0; i < Model.ProductModel.Pictures.Count; i++)
            {
                <input type="hidden" asp-for="ProductModel.Pictures[i].Id" />
                <input type="hidden" asp-for="ProductModel.Pictures[i].CatalogItemId" />
                <input type="hidden" asp-for="ProductModel.Pictures[i].PictureUri" />
                <input type="hidden" asp-for="ProductModel.Pictures[i].IsMain" />

                <div class="col-md-2">
                    <img src="@Model.ProductModel.Pictures[i].PictureUri" class="img-responsive img-thumbnail" />
                    <div class="form-check">
                        <input asp-for="ProductModel.Pictures[i].IsActive" class="form-check-input" />
                        <label asp-for="ProductModel.Pictures[i].IsActive" class="form-check-label"></label>
                        <span asp-validation-for="ProductModel.Pictures[i].IsActive" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ProductModel.Pictures[i].Order" class="col-md-3 control-label"></label>
                        <div class="col-md-4">
                            <input asp-for="ProductModel.Pictures[i].Order" class="form-control" />
                            <span asp-validation-for="ProductModel.Pictures[i].Order" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        @*<button class="btnChangeImage btn btn-default">Substituir</button>*@
                        <button class="btnRemoveImage btn btn-danger">Remover</button>                        
                        <input type="hidden" asp-for="ProductModel.Pictures[i].ToRemove" class="img-to-remove" />
                        <p class="alert" role="alert"></p>
                    </div>
                </div>
            }
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Carregar novas imagens</label>
                    <input asp-for="ProductModel.OtherPictures" type="file" multiple class="form-control" />
                    <span asp-validation-for="ProductModel.OtherPictures" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input type="hidden" asp-for="ProductModel.Id" />
            <input type="submit" value="Gravar" class="btn btn-primary" />
        </div>
    </div>

</form>


<div>
    <a asp-page="./Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            SetProductPrice($("#ProductModel_CatalogTypeId").val());
 
            //$('.btnChangeImage').on('click', function (e) {
            //    e.preventDefault();
            //    var elem = $(this).siblings('input[type=file]');
            //    elem.click();
            //    $(this).siblings('p').addClass('alert-warning').text('Imagem vai ser substituida!');
            //});
            $('.btnRemoveImage').on('click', function (e) {
                e.preventDefault();
                $(this).siblings('p').addClass('alert-danger').text('Imagem vai ser removida!');
                $(this).siblings('.img-to-remove').val(true);
            });
            $('.child-checkbox').click(function () {
                if ($(this).is(":checked")) {
                    $(this).closest('.parent-category').find('.parent-checkbox').prop('checked', true);
                }
            });
            $('#ProductModel_CatalogTypeId').on('change', function () {
                $.getJSON('@(Url.Page("Create","Categories"))' + '&productType=' + this.value, function (data) {
                    //deselect all checkboxes
                    $('#category-list input:checkbox').prop('checked', false);

                    if (data) {                        
                        data.forEach(function (element) {
                            $('#category-list input[cat-id=' + element + ']').prop('checked', true);
                        });
                    }
                });
                SetProductPrice(this.value);
            });
            $('#ProductModel_Name').on('blur', function () {
                $('#ProductModel_Slug').val(slugify(this.value));
            });
        });
        function SetProductPrice(productTypeId) {
            $.getJSON('@(Url.Page("Create", "ProductTypePrice"))' + '&productType=' + productTypeId, function (data) {
                if (data)
                    $("#ProductTypePrice").html(data + " €");
                else
                    $("#ProductTypePrice").html("");
            });
        }
    </script>
}
