@page
@model Backoffice.Areas.Grocery.Pages.Products.DeleteModel

@{
    ViewData["Title"] = "Remover";
}

<h2>Sabor com Tradição - Remover</h2>

<h3>Tem a certeza que queres apagar este registo?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CatalogItem.Sku)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatalogItem.Sku)
        </dd>
        <dt>
            Nome
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatalogItem.Name)
        </dd>
        <dt>
            Preço
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatalogItem.Price)
        </dd>
        <dt>
            Stock
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatalogItem.Stock)
        </dd>
        <dt>
            Imagem
        </dt>
        <dd>
            <img src="Model.CatalogItem.PictureUri" />
        </dd>
        <dt>
            Categorias
        </dt>
        <dd>
            @string.Join(",", Model.CatalogItem.CatalogCategories.Select(x => x.Category.Name))
        </dd>
        <dt>
            Tipo de Produto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatalogItem.CatalogType.Code)
        </dd>
        <dt>
            Ativo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatalogItem.ShowOnShop)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CatalogItem.Id" />
        <input type="submit" value="Apagar" class="btn btn-default" /> |
        <a asp-page="./Index">Voltar para a Lista</a>
    </form>
</div>
