@model CatalogItemViewModel


<form asp-page="/Basket/Index" method="post">

    <a asp-page="/Product/Index" asp-route-id="@Model.ProductSku"><img class="esh-catalog-thumbnail" src="@Model.PictureUri" /></a>
    <input class="esh-catalog-button" type="submit" value="ADICIONAR" />

    <div class="esh-catalog-name">
        <span>@Model.CatalogItemName</span>
    </div>
    <div class="esh-catalog-price">
        <span>@Model.Price.ToString("N2")</span>
    </div>
    @*<input type="hidden" asp-for="@Model.CatalogBrand" name="brand" />
    <input type="hidden" asp-for="@Model.CatalogBrandId" name="brandId" />
    <input type="hidden" asp-for="@Model.CatalogType" name="type" />
    <input type="hidden" asp-for="@Model.CatalogTypeId" name="typeId" />
    <input type="hidden" asp-for="@Model.Description" name="description" />*@
    <input type="hidden" asp-for="CatalogItemId"  />
    <input type="hidden" asp-for="CatalogItemName"/>
    <input type="hidden" asp-for="PictureUri" />
    <input type="hidden" asp-for="Price" />    
</form>
