@model CatalogItemViewModel


<form class="form-inline" asp-page="/Basket/Index" asp-route-catName="@ViewData["catName"]" asp-route-typeName="@ViewData["typeName"]"  method="post">
    @if (!string.IsNullOrEmpty(Model.PictureUri))
    {
    <img class="img-thumbnail" src="@Model.PictureUri" width="50" />
    }
    <div class="form-group">
        <span>@Model.CatalogItemName</span>
    </div>
    <div class="form-group esh-catalog-price">
        <span>&nbsp; @Model.Price.ToString("N2")</span>
    </div>
    <div class="ml-auto">
        <input class="btn btn-primary btn-add-product" type="submit" value="ADICIONAR" />
    </div>
    <input type="hidden" asp-for="CatalogItemId"  />
    <input type="hidden" asp-for="CatalogItemName"/>
    <input type="hidden" asp-for="PictureUri" />
    <input type="hidden" asp-for="Price" />    
</form>
