@page
@model Backoffice.Pages.Illustrations.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Ilustração</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IllustrationModel.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IllustrationModel.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IllustrationModel.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IllustrationModel.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IllustrationModel.IllustrationTypeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IllustrationModel.IllustrationType.Code) - @Html.DisplayFor(model => model.IllustrationModel.IllustrationType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IllustrationModel.InMenu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IllustrationModel.InMenu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IllustrationModel.IllustrationImage)
        </dt>
        <dd>
            <img alt="" src="@Model.IllustrationModel.ImageBase64" class="img-thumbnail" />
        </dd>
        
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.IllustrationModel.Id">Editar</a> |
    <a asp-page="./Index">Voltar para a lista</a>
</div>
