@page
@model Backoffice.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Novo";
}

<h2>Novo</h2>

<h4>Produto</h4>
<hr />
<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group required">
                <label asp-for="ProductModel.Name" class="control-label"></label>
                <input asp-for="ProductModel.Name" class="form-control" />
                <span asp-validation-for="ProductModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductModel.Description" class="control-label"></label>
                <input asp-for="ProductModel.Description" class="form-control" />
                <span asp-validation-for="ProductModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group required">
                <label asp-for="ProductModel.CatalogTypeId" class="control-label"></label>
                <select asp-for="ProductModel.CatalogTypeId" class="form-control" asp-items="ViewBag.ProductTypeId"></select>
                <span asp-validation-for="ProductModel.CatalogTypeId" class="text-danger"></span>
            </div>
            <div class="form-group required">
                <label asp-for="ProductModel.CatalogIllustrationId" class="control-label"></label>
                <select asp-for="ProductModel.CatalogIllustrationId" class="form-control" asp-items="ViewBag.IllustrationId"></select>
                <span asp-validation-for="ProductModel.CatalogIllustrationId" class="text-danger"></span>
            </div>
            <div class="form-group required">
                <label asp-for="ProductModel.Price" class="control-label"></label>
                <input asp-for="ProductModel.Price" class="form-control decimal" />
                <span asp-validation-for="ProductModel.Price" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input asp-for="ProductModel.ShowOnShop" class="form-check-input" checked />
                <label asp-for="ProductModel.ShowOnShop" class="form-check-label"></label>
                <span asp-validation-for="ProductModel.ShowOnShop" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input asp-for="ProductModel.IsNew" class="form-check-input" checked />
                <label asp-for="ProductModel.IsNew" class="form-check-label"></label>
                <span asp-validation-for="ProductModel.IsNew" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input asp-for="ProductModel.IsFeatured" class="form-check-input" />
                <label asp-for="ProductModel.IsFeatured" class="form-check-label"></label>
                <span asp-validation-for="ProductModel.IsFeatured" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductModel.Picture" class="control-label"></label>
                <input type="file" asp-for="ProductModel.Picture" class="form-control" />
                <small>(quadrado)</small>
                <span asp-validation-for="ProductModel.Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductModel.OtherPictures" class="control-label"></label>
                <input type="file" asp-for="ProductModel.OtherPictures" class="form-control" multiple />
                <small>(Podes escolher várias fotos ao mesmo tempo)</small>
                <span asp-validation-for="ProductModel.OtherPictures" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-offset-2 col-md-4">
            <h4>Categorias</h4>
            <ul id="category-list">
                @for (int i = 0; i < Model.CatalogCategoryModel.Count; i++)
                {
                    <li class="parent-category">
                        <label asp-for="CatalogCategoryModel[i].Selected">
                            <input type="hidden" asp-for="CatalogCategoryModel[i].CategoryId" />
                            <input type="checkbox" asp-for="CatalogCategoryModel[i].Selected" class="parent-checkbox" cat-id="@Model.CatalogCategoryModel[i].CategoryId" />
                            @Model.CatalogCategoryModel[i].Label
                        </label>

                        @if (Model.CatalogCategoryModel[i].Childs.Count > 0)
                        {
                            <ul>
                                @for (int j = 0; j < Model.CatalogCategoryModel[i].Childs.Count; j++)
                                {
                                    <li>
                                        <label asp-for="CatalogCategoryModel[i].Childs[j].Selected">
                                            <input type="hidden" asp-for="CatalogCategoryModel[i].Childs[j].CategoryId" />
                                            <input type="checkbox" asp-for="CatalogCategoryModel[i].Childs[j].Selected" class="child-checkbox" cat-id="@Model.CatalogCategoryModel[i].Childs[j].CategoryId" />
                                            @Model.CatalogCategoryModel[i].Childs[j].Label
                                        </label>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="row">

    </div>
    <div class="form-group">
        <input type="submit" asp-page-handler="Save" value="Criar" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-page="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('.child-checkbox').click(function () {
                if ($(this).is(":checked")) {
                    $(this).closest('.parent-category').find('.parent-checkbox').prop('checked', true);
                }
            });

            $('#ProductModel_CatalogTypeId').on('change', function () {
                $.getJSON('@(Url.Page("Create","Categories"))' + '&productType=' + this.value, function (data) {
                    //deselect all checkboxes
                    $('#category-list input:checkbox').prop('checked', false);

                    if (data) {                        
                        data.forEach(function (element) {
                            $('#category-list input[cat-id=' + element + ']').prop('checked', true);
                        });
                    }
                });
            });
        });
    </script>
}
