@page
@model Backoffice.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.CatalogTypeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.CatalogType.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.CatalogIllustrationId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.CatalogIllustration.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.ProductSKU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.ProductSKU)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.ShowOnShop)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.ShowOnShop)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.IsNew)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.IsNew)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.IsFeatured)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.IsFeatured)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.PictureUri)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.PictureUri)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Picture)
        </dt>
        <dd>
            <img src="@Model.ProductModel.PictureUri" />
        </dd>
    </dl>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <hr />
            <h4>Atributos do Produto</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductModel.CatalogAttributes[0].Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductModel.CatalogAttributes[0].Code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductModel.CatalogAttributes[0].Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductModel.CatalogAttributes[0].Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductModel.CatalogAttributes[0].ProductSKU)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ProductModel?.CatalogAttributes?.Count > 0)
                    {
                        for (int i = 0; i < Model.ProductModel.CatalogAttributes.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.ProductModel.CatalogAttributes[i].Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.ProductModel.CatalogAttributes[i].Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.ProductModel.CatalogAttributes[i].Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.ProductModel.CatalogAttributes[i].Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.ProductModel.CatalogAttributes[i].ProductSKU)
                                </td>
                            </tr>
                        }
                    }

                </tbody>                
            </table>
        </div>
    </div>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductModel.Id">Editar</a> |
    <a asp-page="./Index">Voltar para a lista</a>
</div>
