@using DamaWeb.ViewModels
@model IEnumerable<MenuItemComponentViewModel>


<ul class="navbar-nav text-nowrap">
    @foreach (var item in Model)
    {
        if (item.Childs.Count > 0)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" asp-page="/Category/Index" asp-route-id="@item.NameUri">
                    @item.Name
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @foreach (var child in item.Childs)
                    {
                        <a class="dropdown-item" asp-page="/Category/Index" asp-route-id="@child.NameUri">
                            <span class="dropdown-item-text">@child.Name</span>
                        </a>
                        @*@if (!string.IsNullOrEmpty(child.TypeUri))
                            {

                                <a class="dropdown-item" asp-page="/Category/Type/Index" asp-route-cat="@child.NameUri" asp-route-type="@child.TypeUri">
                                    <span class="dropdown-item-text">@child.Name</span>
                                </a>
                            }
                            else
                            {
                                <a class="dropdown-item" asp-page="/Category/Index" asp-route-id="@child.NameUri">
                                    <span class="dropdown-item-text">@child.Name</span>
                                </a>

                            }*@

                    }
                </div>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" asp-page="/Category/Index" asp-route-id="@item.NameUri">@item.Name</a>
            </li>

        }

    }
</ul>


@*<ul class="navbar-nav text-nowrap">

    @foreach (var item in Model.Right)
    {
        if (item.Childs.Count > 0)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" asp-page="/Category/Index" asp-route-id="@item.NameUri">
                    @item.Name
                </a>
                <div class="dropdown-menu">
                    @foreach (var child in item.Childs)
                    {
                        <a class="dropdown-item" asp-page="/Category/Index" asp-route-id="@child.NameUri">
                            <span class="dropdown-item-text">@child.Name</span>
                        </a>
                       
                    }
                </div>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" asp-page="/Category/Index" asp-route-id="@item.NameUri">@item.Name</a>
            </li>
        }
    }
</ul>*@
