@page
@model Backoffice.Pages.IllustrationTypes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Tipo de Ilustração</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IllustrationType.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IllustrationType.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IllustrationType.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IllustrationType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.IllustrationType.Id">Editar</a> |
    <a asp-page="./Index">Voltar para a lista</a>
</div>
