@page
@model CheckoutModel
@{
    ViewData["Title"] = "Encomendar";
}

<h2 class="dama-heading-normal-font">Registar</h2>

<form id="checkout-form" method="post">
    <input type="hidden" asp-for="BasketModel.Id" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-sm-9">
            <div class="card">
                <div class="card-body text-center">
                    <button id="btn-register" class="btn esh-basket-checkout m-auto" type="submit">
                        Registar Venda
                    </button>
                    ou
                    <a href="#card-invoice" class="btn esh-basket-checkout m-auto" data-toggle="collapse" role="button">
                        Registar Venda e <br /> Emitir Fatura
                    </a>
                </div>
            </div>
            <div id="card-invoice" class="collapse mt-2">
                <input type="hidden" asp-for="WantInvoice" value="true" />
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            Emitir Fatura
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="form-group required">
                            <label asp-for="UserAddress.InvoiceEmail"></label>
                            <input asp-for="UserAddress.InvoiceEmail" class="form-control">
                            <span asp-validation-for="UserAddress.InvoiceEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserAddress.InvoiceName"></label>
                            <input asp-for="UserAddress.InvoiceName" class="form-control">
                            <span asp-validation-for="UserAddress.InvoiceName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserAddress.InvoiceTaxNumber"></label>
                            <input asp-for="UserAddress.InvoiceTaxNumber" class="form-control">
                            <span asp-validation-for="UserAddress.InvoiceTaxNumber" class="text-danger"></span>
                        </div>
                        <div id="invoice-address-controls">
                            <div class="form-group">
                                <label asp-for="UserAddress.InvoiceAddressStreet"></label>
                                <input class="form-control" asp-for="UserAddress.InvoiceAddressStreet">
                                <span asp-validation-for="UserAddress.InvoiceAddressStreet" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserAddress.InvoiceAddressCity"></label>
                                <input class="form-control" asp-for="UserAddress.InvoiceAddressCity">
                                <span asp-validation-for="UserAddress.InvoiceAddressCity" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserAddress.InvoiceAddressPostalCode"></label>
                                <input class="form-control" asp-for="UserAddress.InvoiceAddressPostalCode">
                                <span asp-validation-for="UserAddress.InvoiceAddressPostalCode" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserAddress.InvoiceAddressCountry"></label>
                                <select class="form-control" asp-for="UserAddress.InvoiceAddressCountry">
                                    <option>Portugal</option>
                                </select>
                                <span asp-validation-for="UserAddress.InvoiceAddressCountry" class="text-danger"></span>
                            </div>                          
                        </div>
                        <div class="text-center mt-3">
                            <input class="btn esh-basket-checkout m-auto" type="submit" value="Finalizar Encomenda" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 bg-light pt-2 mt-3 mt-sm-0" style="min-height:450px">
            <h4>Resumo da encomenda</h4>
            <article class="row m-0">
                <section class="col-2 p-0">Qt.</section>
                <section class="col-7 p-0">Produto</section>
                <section class="col-3 p-0">Preço</section>
            </article>
            <hr />
            <div class="dama-checkout-items">
                @foreach (var item in Model.BasketModel.Items)
                {
                    <article class="row pt-sm-1 m-0">
                        <section class="col-2 p-0">@item.Quantity</section>
                        <section class="col-7 p-0">
                            @item.ProductName

                            @if (!string.IsNullOrEmpty(item.CustomizeName))
                            {
                                <br />
                                <small id="nameInputText" class="text-muted dama-small-text">Descrição: @item.CustomizeName</small>
                            }
                            @foreach (var attr in item.Attributes)
                            {
                                <br />
                                <span class="dama-basket-label">@attr.Label: @attr.Name </span><br />
                            }
                        </section>
                        <section class="col-3 p-0">@item.UnitPrice.ToString("N2") €</section>
                    </article>
                }
            </div>
            <hr />
            <article class="row">
                <section class="offset-2 col-6 text-right">TOTAL</section>
                <section id="basket-total" class="col-4 pl-0 dama-product-price">@Model.BasketModel.Total()</section>
            </article>
            <hr />          
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        
    $(document).ready(function () {

        $('#btn-register').click(function () {
            $('#WantInvoice').val(false);
        });
        @if(Model.WantInvoice)
        {
            <text>$('#card-invoice').collapse("show");</text>
        }
        });
    </script>
}
