@page
@model Backoffice.Areas.Grocery.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Categorias";
}

<h2>Sabor com Tradição - Categorias</h2>

<p>
    <a asp-page="./Create">Criar nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>
                Nome
            </th>
            <th>
                Ordem
            </th>
            <th>
                Categoria Pai
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Category) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhe</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
