@page
@model Backoffice.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.Description)
        </dd>        
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Illustation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.Illustation.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.ProductType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.ProductType.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.ProductSKU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.ProductSKU)
        </dd>
    </dl>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <hr />
            <h4>Atributos do Produto</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductModel.ProductAttributes[0].Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductModel.ProductAttributes[0].Code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductModel.ProductAttributes[0].Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductModel.ProductAttributes[0].Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductModel.ProductAttributes[0].ProductSKU)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ProductModel?.ProductAttributes?.Count > 0)
                    {
                        for (int i = 0; i < Model.ProductModel.ProductAttributes.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.ProductModel.ProductAttributes[i].Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.ProductModel.ProductAttributes[i].Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.ProductModel.ProductAttributes[i].Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.ProductModel.ProductAttributes[i].Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.ProductModel.ProductAttributes[i].ProductSKU)
                                </td>
                            </tr>
                        }
                    }

                </tbody>                
            </table>
        </div>
    </div>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductModel.Id">Editar</a> |
    <a asp-page="./Index">Voltar para a lista</a>
</div>
