@page "/categorias/{message?}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject HttpClient Http

<h2>Categorias</h2>

<p>
    <a href="/categorias/novo">Nova Categoria</a>
</p>
@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-success" role="alert">
        @Message
    </div>
}
@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-pagination">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Ordem
                </th>
                <th>
                    Categoria Pai
                </th>
                <th>
                    Meta Description
                </th>
                <th>
                    Titulo
                </th>
                <th>
                    Nº Tipos de Produtos
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in categories)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Order
                    </td>
                    <td>
                        @item.Parent?.Name
                    </td>
                    <td>
                        @item.MetaDescription
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        <a href="/categorias/@item.Id">Editar</a> |
                        <a href="#" data-target="#modal_category_@item.Id" data-toggle="modal">Detalhes</a> |
                        <a href="#">Remover</a>
                        <div class="modal" id="modal_category_@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">@item.Name</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <dl class="dl-horizontal">
                                            <dt>
                                                Nome
                                            </dt>
                                            <dd>
                                                @item.Name
                                            </dd>
                                            <dt>
                                                Slug
                                            </dt>
                                            <dd>
                                                @item.Slug
                                            </dd>
                                            <dt>
                                                Ordem
                                            </dt>
                                            <dd>
                                                @item.Order
                                            </dd>
                                            <dt>
                                                Categoria Pai
                                            </dt>
                                            <dd>
                                                @item.Parent?.Name
                                            </dd>
                                        </dl>
                                        <h4>SEO</h4>
                                        <dl class="dl-horizontal">
                                            <dt>
                                                Meta Description
                                            </dt>
                                            <dd>
                                                @item.MetaDescription
                                            </dd>
                                            <dt>
                                                Titulo
                                            </dt>
                                            <dd>
                                                @(string.IsNullOrEmpty(item.Title) ? item.Name : item.Title)
                                            </dd>
                                            <dt>
                                                Texto H1
                                            </dt>
                                            <dd>
                                                @item.H1Text
                                            </dd>
                                            <dt>
                                                Descrição
                                            </dt>
                                            <dd>
                                                @((MarkupString)item.Description)
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private CategoryViewModel[] categories;

    [Parameter]
    public string Message { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            categories = await Http.GetFromJsonAsync<CategoryViewModel[]>("Categories");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}