@page
@model CheckoutModel
@{
    ViewData["Title"] = "Encomendar";

    bool showLoginError = false, showRegisterError = false, showGuestError = false;
    if (ViewBag.LoginFailed != null && (bool)ViewBag.LoginFailed)
    {
        showLoginError = true;
        ViewBag.LoginFailed = null;
    }
    if (ViewBag.RegisterFailed != null && (bool)ViewBag.RegisterFailed)
    {
        showRegisterError = true;
        ViewBag.RegisterFailed = null;
    }
    if (ViewBag.GuestFailed != null && (bool)ViewBag.GuestFailed)
    {
        showGuestError = true;
        ViewBag.GuestFailed = null;
    }
}

<div class="mt-2 mt-sm-4">
    <h1 class="text-uppercase">Encomendar</h1>
    <div class="row mt-2 mt-sm-5">
        <div class="col-12 col-sm-4 text-center border-right border-primary p-4">
            <section id="loginSection">
                <h2>JÁ ÉS NOSSO CLIENTE?</h2>
                <div class="loginCard collapse @(showLoginError ? "" : "show")">
                    <a class="btn btn-menta mt-sm-3 px-4 btn-block-xs" role="button" data-toggle="collapse" href=".loginCard" aria-expanded="false" aria-controls="collapseLogin">LOGIN</a>
                </div>
                <div class="collapse loginCard @(showLoginError ? "show" : "")">
                    <div class="card card-body border-0">
                        <form class="text-left" asp-page-handler="SignIn">
                            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
                            <div class="form-group required">
                                <label asp-for="LoginModel.Email" class="control-label form-label"></label>
                                <input asp-for="LoginModel.Email" class="form-control form-input form-input-center" />
                                <span asp-validation-for="LoginModel.Email" class="text-danger small"></span>
                            </div>
                            <div class="form-group required">
                                <label asp-for="LoginModel.Password" class="control-label form-label"></label>
                                <input asp-for="LoginModel.Password" class="form-control form-input form-input-center" />
                                <span asp-validation-for="LoginModel.Password" class="text-danger small"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="LoginModel.RememberMe">
                                        <input asp-for="LoginModel.RememberMe" />
                                        @Html.DisplayNameFor(m => m.LoginModel.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-menta px-4 btn-block-xs">LOGIN</button>
                            </div>
                            <div class="form-group small text-center mt-1">
                                <a asp-page="/Account/ForgotPassword">Esqueces-te a password?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <section id="resgisterSection" class="mt-3 mt-sm-5 pt-3">
                <div>Ainda não és nosso cliente?</div>
                <h2>FAZ AQUI O TEU REGISTO GRÁTIS!</h2>
                <div class="small">E GANHA PONTOS COM AS TUAS COMPRAS</div>
                <div class="registerCard collapse @(showRegisterError ? "" : "show")">
                    <a class="btn btn-menta mt-1 mt-sm-3 px-4 btn-block-xs" role="button" data-toggle="collapse" href=".registerCard" aria-expanded="false" aria-controls="collapseRegister">REGISTAR</a>
                    <div class="position-relative dama-register-bird d-none d-sm-block">
                        <img src="~/images/bird-left.png" width="50" class="img-fluid" />
                    </div>
                </div>
                <div class="collapse registerCard @(showRegisterError ? "show" : "")">
                    <div class="card card-body border-0">
                        <form class="text-left" asp-page-handler="Register" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
                            <div class="form-group required">
                                <label asp-for="RegisterModel.FirstName"></label>
                                <input asp-for="RegisterModel.FirstName" class="form-control" />
                                <span asp-validation-for="RegisterModel.FirstName" class="text-danger small"></span>
                            </div>
                            <div class="form-group required">
                                <label asp-for="RegisterModel.LastName"></label>
                                <input asp-for="RegisterModel.LastName" class="form-control" />
                                <span asp-validation-for="RegisterModel.LastName" class="text-danger small"></span>
                            </div>
                            <div class="text-center">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" asp-for="RegisterModel.Gender" value="@GenderType.FEMALE" id="Gender@Female" class="custom-control-input">
                                    <label class="custom-control-label" for="Gender@Female">Feminino</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" asp-for="RegisterModel.Gender" value="@GenderType.MALE" id="Gender@Male" class="custom-control-input">
                                    <label class="custom-control-label" for="Gender@Male">Masculino</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="RegisterModel.PhoneNumber"></label>
                                <input asp-for="RegisterModel.PhoneNumber" class="form-control" />
                                <span asp-validation-for="RegisterModel.PhoneNumber" class="text-danger small"></span>
                            </div>
                            <div class="form-group required">
                                <label asp-for="RegisterModel.Email"></label>
                                <input asp-for="RegisterModel.Email" class="form-control" />
                                <span asp-validation-for="RegisterModel.Email" class="text-danger small"></span>
                            </div>
                            <div class="form-group required">
                                <label asp-for="RegisterModel.Password"></label>
                                <input asp-for="RegisterModel.Password" class="form-control" />
                                <span asp-validation-for="RegisterModel.Password" class="text-danger small"></span>
                            </div>
                            <div class="form-group required">
                                <label asp-for="RegisterModel.ConfirmPassword"></label>
                                <input asp-for="RegisterModel.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="RegisterModel.ConfirmPassword" class="text-danger small"></span>
                            </div>
                            <div class="form-group form-check">
                                <input asp-for="RegisterModel.SubscribeNewsletter" class="form-check-input">
                                <label class="form-check-label small" asp-for="RegisterModel.SubscribeNewsletter"></label>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input asp-for="RegisterModel.AgreeToTerms" class="form-check-input" />
                                    <label asp-for="RegisterModel.AgreeToTerms" class="form-check-label small">Declaro que li e aceito os <a class="text-menta link-underline" asp-page="/Terms" target="_blank">Termos e Condições</a>.</label>
                                </div>
                                <span asp-validation-for="RegisterModel.AgreeToTerms" class="text-danger small"></span>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-menta px-4 btn-block-xs">REGISTAR</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-12 col-sm-4 text-center px-4 py-sm-4 pt-2 pb-4">
            <section id="guessSection">
                <h2>ENTRA COMO CONVIDADO</h2>
                <div class="guestCard collapse @(showGuestError ? "" : "show")">
                    <a class="btn btn-menta mt-3 px-4 btn-block-xs" role="button" data-toggle="collapse" href=".guestCard" aria-expanded="false" aria-controls="collapseGuest">ENTRAR</a>
                </div>
                <div class="collapse guestCard @(showGuestError ? "show" : "")">
                    <div class="card card-body border-0">
                        <form class="text-left" asp-page-handler="LogInAsGuest">
                            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
                            <div class="form-group required">
                                <label asp-for="GuestModel.Email" class="control-label form-label"></label>
                                <input asp-for="GuestModel.Email" class="form-control form-input form-input-center" />
                                <span asp-validation-for="GuestModel.Email" class="text-danger small"></span>
                            </div>
                            <div class="form-group form-check">
                                <input asp-for="GuestModel.SubscribeNewsletter" class="form-check-input">
                                <label class="form-check-label small" asp-for="GuestModel.SubscribeNewsletter"></label>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input asp-for="GuestModel.AgreeToTerms" class="form-check-input" />
                                    <label asp-for="GuestModel.AgreeToTerms" class="form-check-label small">Declaro que li e aceito os <a class="text-menta link-underline" asp-page="/Terms" target="_blank">Termos e Condições</a>.</label>
                                </div>
                                <span asp-validation-for="GuestModel.AgreeToTerms" class="text-danger small"></span>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-menta px-4 btn-block-xs">ENTRAR</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="mt-5 d-none d-sm-block">
                    <img src="~/images/dama-cat-low.png" class="img-fluid" />
                </div>
            </section>
        </div>
        <div class="col-12 col-sm-4">
            <section class="border border-primary p-2 p-sm-4">
                <partial name="_resumeOrder" for="BasketModel" />
            </section>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
