@page
@model Backoffice.Pages.ProductType.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Tipo de Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductTypeModel.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductTypeModel.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductTypeModel.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductTypeModel.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductTypeModel.CategoriesName)
        </dt>
        <dd>
            @string.Join(", ", Model.ProductTypeModel.CategoriesName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductTypeModel.DeliveryTimeMin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductTypeModel.DeliveryTimeMin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductTypeModel.DeliveryTimeMax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductTypeModel.DeliveryTimeMax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductTypeModel.DeliveryTimeUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductTypeModel.DeliveryTimeUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductTypeModel.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductTypeModel.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductTypeModel.PictureUri)
        </dt>
        <dd>
            <img src="@Model.ProductTypeModel.PictureUri" class="img-responsive" />
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductTypeModel.Id">Editar</a> |
    <a asp-page="./Index">Voltar para a lista</a>
</div>
