@page
@model Backoffice.Areas.Grocery.Pages.CatalogTypes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CatalogType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CatalogType.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatalogType.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CatalogType.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatalogType.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CatalogType.PictureUri)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatalogType.PictureUri)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CatalogType.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatalogType.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CatalogType.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
