@page
@model Backoffice.Areas.Grocery.Pages.CatalogTypes.IndexModel

@{
    ViewData["Title"] = "Tipos de Produto";
}

<h2>Sabor com Tradição - Tipos de Produto</h2>

<p>
    <a asp-page="Create">Inserir novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>
                Código
            </th>
            <th>
                Descrição
            </th>
            <th>
                Preço
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CatalogType) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhe</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
